.hero1 {
  background-image: url(../../assets/img/Bathroom/bathroom.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bathroom {
 display: grid;
 grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
 grid-template-rows: 20% 20% 20% 20% 20%;
 height: 100vh;
}

.bathtub {
  grid-row-start: 4;
  grid-column-start: 3;
}

.lavabo {
  grid-row-start: 3;
  grid-column-start: 9;
}