.sum {
  height: 100vh !important;
  width: 100vw !important;
  background: url(../../assets/img/backgrounds/forest.jpg) fixed no-repeat center center;
  /* <a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by brgfx - www.freepik.com</a> */
  background-size: cover;
}

/* .container {
  display: flex;

} */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 !important;
  border-left: 15px solid orange;
  border-right: 15px solid orange;
  height: 20vh;
}

.top-row, .bottom-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
  border-left: 15px solid orange;
  border-right: 15px solid orange;
  height: 20vh;
}

img {
  border: 15px solid orange;
}